@using Fashion_Flex.IRepositories
@using Fashion_Flex.Repository
@using System.Security.Claims
@inject IOrderItemRepository OrderItemRepository
@inject IOrderRepository OrderRepository
@inject ICustomerRepository CustomerRepository
@{
	var customer = new Customer();
	var customerCurrOrder = new Order();
	List<Order_Item> customerOrderItems = new List<Order_Item>();

	if (User.Identity.IsAuthenticated)
	{
		customer = CustomerRepository.GetByApplicationUserId(User.FindFirstValue(ClaimTypes.NameIdentifier));

		if (customer != null)
		{
			customerCurrOrder = OrderRepository.GetCustomerCurrOrder(customer.Id);
			if (customerCurrOrder != null)
			{
				customerOrderItems = OrderItemRepository.GetByOrderId(customerCurrOrder.Id);
			}
		}
	}
}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fashion Flex</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="@Url.Content("~/images/icons/favicon.png")" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/iconic/css/material-design-iconic-font.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/fonts/linearicons-v1.0.0/icon-font.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/animate/animate.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/css-hamburgers/hamburgers.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/animsition/css/animsition.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/select2/select2.min.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/daterangepicker/daterangepicker.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/slick/slick.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/MagnificPopup/magnific-popup.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/vendor/perfect-scrollbar/perfect-scrollbar.css")">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/util.css")">
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")">
	<!--===============================================================================================-->

</head>


<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping on Orders more than $100
					</div>

					<div class="right-top-bar flex-w h-full">
						@if (User.Identity.IsAuthenticated)
						{
							<p class="flex-c-m trans-04 p-lr-25 text-light">
								Welcome, @customer.First_Name
							</p>
							if (User.IsInRole("Admin"))
							{
								<a asp-controller="Role" asp-action="AddRole" class="flex-c-m trans-04 p-lr-25">
									Add Role
								</a>
								<a asp-controller="Admin" asp-action="Index" class="flex-c-m trans-04 p-lr-25">
									Admin Dashboard
								</a>
							}

							<a asp-controller="Customer" asp-action="Details" class="flex-c-m trans-04 p-lr-25">
								My Account
							</a>

							<!-- Logout link that uses JavaScript to trigger a POST request -->
							<a href="javascript:void(0);" class="flex-c-m trans-04 p-lr-25" onclick="document.getElementById('logoutForm').submit();">
								Logout
							</a>
							<!-- Hidden logout form -->
							<form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" style="display: none;">
								@Html.AntiForgeryToken()
							</form>
						}
						else
						{
							<p class="flex-c-m trans-04 p-lr-2 text-danger">
								Create An Account To Start Ordering
							</p>
							<a asp-controller="Account" asp-action="Register" class="flex-c-m trans-04 p-lr-25">
								Register
							</a>
							<a asp-controller="Account" asp-action="Login" class="flex-c-m trans-04 p-lr-25">
								Login
							</a>
						}

						@* <a href="#" class="flex-c-m trans-04 p-lr-25">
							Help & FAQs
						</a> *@
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a asp-controller="Home" asp-action="Index" class="logo">
						<img src="~/images/icons/logo-01.svg" alt="IMG-LOGO" width="190" height="24">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a asp-controller="Home" asp-action="Index">Home</a>
								@* <ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul> *@
							</li>

							<li>
								<a asp-controller="Product" asp-action="Index">Shop</a>
							</li>

							@* <li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Features</a>
							</li> *@

							@* <li>
								<a href="blog.html">Blog</a>
							</li> *@

							<li>
								<a asp-controller="Home" asp-action="About">About Us</a>
							</li>

							<li>
								<a asp-controller="Home" asp-action="Contact">Contact</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						@if (User.Identity.IsAuthenticated)
						{
							<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@customerOrderItems.Count()">
								<i class="zmdi zmdi-shopping-cart"></i>
							</div>
						}

						@* <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
						<i class="zmdi zmdi-favorite-outline"></i>
						</a> *@
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="~/images/icons/logo-01.svg" alt="IMG-LOGO" width="140"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				@if (User.Identity.IsAuthenticated)
				{
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@customerOrderItems.Count()">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				}

				@* <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
				<i class="zmdi zmdi-favorite-outline"></i>
				</a> *@
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<!-- Left Section -->
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<!-- Right Section -->
				<li>
					<div class="right-top-bar flex-w h-full">
						@if (User.Identity.IsAuthenticated)
						{
							<p class="flex-c-m trans-04 p-lr-10 text-light">
								Welcome, @customer.First_Name
							</p>

							@if (User.IsInRole("Admin"))
							{
								<a asp-controller="Role" asp-action="AddRole" class="flex-c-m trans-04 p-lr-10">
									Add Role
								</a>
								<a asp-controller="Admin" asp-action="Index" class="flex-c-m trans-04 p-lr-10">
									Admin Dashboard
								</a>
							}

							<a asp-controller="Customer" asp-action="Details" class="flex-c-m trans-04 p-lr-10">
								My Account
							</a>

							<!-- Logout link using JavaScript for POST request -->
							<a href="javascript:void(0);" class="flex-c-m trans-04 p-lr-10" onclick="document.getElementById('logoutForm').submit();">
								Logout
							</a>
							<!-- Hidden logout form -->
							<form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" style="display: none;">
								@Html.AntiForgeryToken()
							</form>
						}
						else
						{
							<p class="flex-c-m trans-04 p-lr-10 text-danger">
								Create An Account To Start Ordering
							</p>
							<a asp-controller="Account" asp-action="Register" class="flex-c-m trans-04 p-lr-10">
								Register
							</a>
							<a asp-controller="Account" asp-action="Login" class="flex-c-m trans-04 p-lr-10">
								Login
							</a>
						}
					</div>
				</li>
			</ul>


			<ul class="main-menu-m">
				<li>
					<a asp-controller="Home" asp-action="Index">Home</a>
				</li>

				<li>
					<a asp-controller="Product" asp-action="Index">Shop</a>
				</li>

				<li>
					<a asp-controller="Home" asp-action="About">About Us</a>
				</li>

				<li>
					<a asp-controller="Home" asp-action="Contact">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="~/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>


	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			@if (customerOrderItems != null && customerCurrOrder != null)
			{
				<div class="header-cart-content flex-w js-pscroll">
					<ul class="header-cart-wrapitem w-full">
						@* Loop here on order items *@

						@foreach (var item in customerOrderItems)
						{
							<li class="header-cart-item flex-w flex-t m-b-12">
								@* On img click Delete the order item *@
								<a asp-controller="OrderItem" asp-action="Delete" asp-route-id="@item.Id">
									<div class="header-cart-item-img">
										<img src="~/images/@item.Product.Image" alt="IMG" style="cursor: pointer;" />
									</div>
								</a>

								<div class="header-cart-item-txt p-t-8">
									@* On name click go to product details *@
									<a asp-controller="Product" asp-action="Index" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
										@item.Product.Name
									</a>

									<span class="header-cart-item-info">
										@item.Quantity x $@item.Product.Price
									</span>
								</div>
							</li>
						}

					</ul>

					<div class="w-full">
						<div class="header-cart-total w-full p-tb-40">
							Total: $@(customerCurrOrder?.Total_Amount ?? 0)
						</div>

						<div class="header-cart-buttons flex-w w-full">
							<a asp-controller="Payment" asp-action="CheckOut" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
								Check Out
							</a>
						</div>
					</div>
				</div>
			}
			else
			{
				<p class="flex-c-m trans-04 p-lr-25 text-dark">
					No items in your cart.
				</p>
				<div class="header-cart-buttons flex-w w-full">
					<a asp-controller="Product" asp-action="Index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10 m-t-100">
						Check our new Collection
					</a>
				</div>
			}

		</div>
	</div>


	@RenderBody()


	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a asp-controller="Product" asp-action="Index" asp-route-type="Women" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a asp-controller="Product" asp-action="Index" asp-route-type="Men" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a asp-controller="Product" asp-action="Index" asp-route-type="Shoes" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a asp-controller="Product" asp-action="Index" asp-route-type="Watches" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 23 Ahmed Oraby, Cairo, Egypt or call us on (+20) 1094260107
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="~/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="~/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


	<!-- Scripts -->
	<div>
		@RenderSection("Scripts", false)
		<!--===============================================================================================-->
		<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/vendor/bootstrap/js/popper.js"></script>
		<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>
		<!--===============================================================================================-->
		<script src="~/vendor/daterangepicker/moment.min.js"></script>
		<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
		<!--===============================================================================================-->
		<script src="~/vendor/slick/slick.min.js"></script>
		<script src="~/js/slick-custom.js"></script>
		<!--===============================================================================================-->
		<script src="~/vendor/parallax100/parallax100.js"></script>
		<script>
			$('.parallax100').parallax100();
		</script>
		<!--===============================================================================================-->
		<script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<script>
			$('.gallery-lb').each(function () { // the containers for all your galleries
				$(this).magnificPopup({
					delegate: 'a', // the selector for gallery item
					type: 'image',
					gallery: {
						enabled: true
					},
					mainClass: 'mfp-fade'
				});
			});
		</script>
		<!--===============================================================================================-->
		<script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/vendor/sweetalert/sweetalert.min.js"></script>
		<script>
			$('.js-addwish-b2').on('click', function (e) {
				e.preventDefault();
			});

			$('.js-addwish-b2').each(function () {
				var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
				$(this).on('click', function () {
					swal(nameProduct, "is added to wishlist !", "success");

					$(this).addClass('js-addedwish-b2');
					$(this).off('click');
				});
			});

			$('.js-addwish-detail').each(function () {
				var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

				$(this).on('click', function () {
					swal(nameProduct, "is added to wishlist !", "success");

					$(this).addClass('js-addedwish-detail');
					$(this).off('click');
				});
			});

			/*---------------------------------------------*/

			$('.js-addcart-dialog').each(function () {
				var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
				$(this).on('click', function () {
					swal(nameProduct, "is added to cart !", "success").then((willProceed) => {
						window.history.back(); // Exit Cart Page
					});
				});
			});

			$('.js-addcart-dialog-inside-model').on('click', function (e) {
				var nameProduct = $(this).data('name'); // Get the product name from the data attribute
				swal(nameProduct, "is added to cart!", "success").then((willProceed) => {
					window.history.back(); // Exit Cart Page
				});
			});

		</script>
		<!--===============================================================================================-->
		<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>
		<!--===============================================================================================-->
		<script src="~/js/main.js"></script>

	</div>

</body>
</html>